{% extends "layout.html.twig" %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
    {% for post in posts %}
    <article>
        <h2><a href="{{ blog.base_url }}/{{ post.slug }}">{{ post.title }}</a></h2>
        <time datetime="{{ post.date }}">{{ post.formatted_date }}</time>
        
        <div class="post-teaser">
            {{ post.teaser|raw }}
        </div>
        
        {% if post.has_more %}
        <p><a href="{{ blog.base_url }}/{{ post.slug }}" aria-label="Read more of {{ post.title }}">Read more…</a></p>
        {% endif %}
    </article>
    
    {% if not loop.last %}
    <hr>
    {% endif %}
    {% endfor %}
{% endblock %} 