{% extends "layout.html.twig" %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
    {% for post in posts %}
    <article>
        <h2><a href="/posts/{{ post.slug }}.html">{{ post.title }}</a></h2>
        <time datetime="{{ post.date }}">{{ post.formatted_date }}</time>
        
        <div class="post-teaser">
            {{ post.teaser|raw }}
        </div>
        
        {% if post.has_more %}
        <p><a href="/posts/{{ post.slug }}.html" aria-label="Read more of {{ post.title }}">Read more…</a></p>
        {% endif %}
    </article>
    
    {% if not loop.last %}
    <hr>
    {% endif %}
    {% endfor %}
    
    <div class="archive-link">
        <p><a href="/archive.html">View all posts in the archive →</a></p>
    </div>
{% endblock %} 