{% extends "layout.html.twig" %}

{% block title %}{{ post.title }} - {{ blog.title }}{% endblock %}

{% block content %}
    <article role="article">
        <header>
            <h1 id="post-title">{{ post.title }}</h1>
            <time datetime="{{ post.date }}" aria-label="Published on {{ post.formatted_date }}">{{ post.formatted_date }}</time>
        </header>
        
        <div class="post-content" aria-labelledby="post-title">
            {{ post.content|raw }}
        </div>
    </article>
    
    <nav aria-label="Post navigation" class="post-navigation">
        {% if previous_post is defined %}
            <a href="{{ blog.base_url }}/posts/{{ previous_post.slug }}.html" rel="prev">Previous: {{ previous_post.title }}</a>
        {% endif %}
        {% if next_post is defined %}
            <a href="{{ blog.base_url }}/posts/{{ next_post.slug }}.html" rel="next">Next: {{ next_post.title }}</a>
        {% endif %}
    </nav>
{% endblock %} 